.caja {
    width: 100px;
    height: 100px;
    background-color: thistle;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 40px;
}

.derecha{
    float: right;
    background-color: tomato;
}

.izquierda{
    float: left;
    background-color: violet;
}

.parrafo{
    width: 100px;
    clear: both;

}

/*clear es para remover elementos a la izquierda, o a la derecha, o a ambos lados*/